{% extends "base.html" %}
{% block title %}Wordtool{% end %}
{% block body %}
<div class="row-fluid">
	<div class="hero-unit">
	<h1>Wordtool</h1>
	<p>Wordtool is a work-in-progress word reciting tool.</p>
	<p>Features:</p>
	<ul>
		<li>Very flexible through the support for <em>collections</em>.</li>
		<li>Following the Learning curve.</li>
		<li>And More...</li>
	</ul>
	<p>
		<a class="btn btn-primary btn-large" href="/login">
		Log in
		</a>
		<a class="btn btn-large" href="signup">
		Sign up
		</a>
	</p>
</div>
	</div>
{% end %}