{% extends "base.html" %}
{% block title %}Managing {{ collection }}{% end %}
{% block morehead %}
<script src="/static/js/managelists.js"></script>
{% end %}
{% block body %}
<div class="row-fluid">
	<div class="span12">
		<a href="/notebook/collections/{{ collection }}" class="btn-link"><i class=" icon-arrow-left"></i>Back to Collection</a>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
	<table class="table table-bordered">
		{% for group in listsNumGrouped %}
		<tr>
			{% for eachListNum in group %}
			<td>
				<p>list{{ eachListNum }} <a class="btn btn-danger btn-mini pull-right w-delete-button" deleteId="{{ eachListNum }}" href="javascript:;">Delete</a></p>	
			</td>
			{% end %}
		</tr>
		{% end %}
	</table>
	</div>
</div>
{% end %}