{% extends "notebook.html" %}
{% block title %}Review list{% end %}
{% block activereviewlist %}active{% end %}
{% block mainbody %}
<div class="row-fluid">
	<div class="span12">
		{% if reviewlist %}
		<p style="overflow-y: scroll; height: 400px;">{{ reviewlist }}</p>
		<a href="/notebook/reviewlist/reviewsystem" class="btn btn-block btn-large">Begin Review</a>
		{% else %}
		<p class="lead text-success">Congratulations! You have reached the end of this review journey! (Or haven't started yet.) Come back Later. </p>
		{% end %}
	</div>
</div>
{% end %}