{% extends "base.html" %}
{% block title %}New Collection{% end %}
{% block body %}
<div class="row-fluid">
	<div class="span12">
		<form class="form-horizontal" method="POST" action="/users">
			{% module xsrf_form_html() %}
			<div class="control-group">
				<label class="control-label" for="inputUsername">User Name</label>
				<div class="controls">
					<input type="text" id="inputUsername" placeholder="Username" name="username">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
					<input type="password" id="inputPassword" placeholder="Password" name="password">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">Sign Up</button>
					<a class="btn" href="javascript:history.back();">Back</a>
				</div>		
			</div>
		</form>
	</div>
</div>
{% end %}